* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #1A1C22;
}
/* beranda */
/* nav */
nav {
    color: white;
    height: 100px;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 36% 30%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

nav .nav-judul {
    display: grid;
    justify-content: start;
    
}
nav .nav-judul h1, .brand h1{
    color: #DB202C;
}


nav .nav-center-items {
    display: grid;
    justify-content: center;
}
nav .nav-center-items ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    color: #FEF4F4;
    font-size: 18px;
}

nav .nav-right-items {
    display: grid;
    justify-content: end;
}

nav .nav-right-items ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

nav .nav-right-items ul li  {
    display: flex;
    justify-content: end;
}
nav .nav-right-items ul li .drop-down {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .nav-right-items ul li img {
    width: 14px;
    height: 12px;
}

nav .nav-right-items ul li button {
    width: 100px;
    height: 40px;
    margin-left: 5px;
    background-color: #DB202C;
    border: #DB202C;
    color: white;
    font-weight: bolder;
    background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
    box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
    border-radius: 15px;
    cursor: pointer;
}
/* end nav */

/* hero section */
.hero {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}
/* .hero .hero-left-side {
    position: absolute;
} */

.hero .hero-left-side .judul {
    width: 90%;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;

    letter-spacing: -0.015em;

    color: #FEF4F4;
}

.hero .hero-left-side .content {
    width: 90%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */

    letter-spacing: -0.015em;

    color: #E3E1E1;
}

.hero .hero-left-side .button button {
    margin-top: 10px;
    padding: 9px 28px;
    width: 204px;
    height: 48px;
    border: #DB202C;
    background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
    box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
    border-radius: 15px;
    font-weight: bolder;
    color: white;   
}
.hero .hero-right-side {
   overflow-x: hidden;
}
.hero .hero-right-side .background-img{
    background-color: #5064A0;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    margin-left: -70px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.hero .hero-right-side .background-img img {
    width: 80%;
    margin: 50px;
}
/* end hero section */

/* service */
.service {
    width: 90%;
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
}

.service .title-service {
    width: 400px;
    max-height: 160px;
    margin: 20px auto;
}
.service .title-service p {
    text-align: center;
    font-size: 2.5rem;
    font-family: Volkhov;
    line-height: 72px;
    font-weight: bolder; 
    color: white;
}

.service .content-service {
    width: 95%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: space-evenly;
}

.content-service .card {
    background-color: #1F2127;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    color: white;
    box-sizing: border-box;
    padding: 15px;
    margin-top: -200px;
}

.content-service .card .card-img {
    font-size: 40px;
    margin-bottom: 10px;
}

.content-service .card .card-title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

.content-service .card .card-content {
    color: #E3E0E0;
    font-size: 14px;
    line-height: 30px;
}
/* end service */
/* section 3 */
.section3 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
}
.section3 .section3-left-side {
    /* background-color: #BC0E19; */
    position: relative;

}

.section3 .section3-left-side .bayangan {
    width: 250px;
    height: 250px;
    background: rgba(95, 122, 219, 0.8);
    filter: blur(50px);
    position: absolute;
    top: 160px;
    left: 150px;
    z-index: -1;

} 

.section3 .section3-left-side .img {
   margin-left: -85px;
   margin-top: 100px;
}

.section3 .section3-left-side .img img {
    width: 100%;
}

.section3 .section3-right-side  {
    display: flex;
    align-items: center;
}
.section3 .section3-right-side p {

    /* Sub-page H1 */
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #FEF4F4;
    width: 90%;
}
/* section3 end */

/* Section4 start */
.section4 {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: #DB202C; */
}

.section4 .section4-title {
    width: 30%;
}
.section4 .section4-title p {
font-family: 'Volkhov';
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 72px;
letter-spacing: -0.015em;
color: #FFFFFF;
}
.section4-button button {
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    Padding: 9px, 28px, 9px, 28px;
    background-color: #DB202C;
    border: #DB202C;
    color: white;
    font-weight: bold;
    background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
    box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    float: right;
}

.section4 .section4-content {
    /* width: 100%; */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 305px);
    justify-content: space-between;

}
.section4 .section4-content .card {
    width: 200px;
    padding: 10px;
    border: 1px solid #FEF4F4;
    border-radius: 15px;
}
.section4 .section4-content .card .card-img {
    border-radius: 10px;
    overflow: hidden;
}
.section4 .section4-content .card .card-img img {
    width: 200px;
}
.section4 .section4-content .card .card-title {
    color: #FEF4F4;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
}
.section4 .section4-content .card .card-content {
    color: #fef5fe;
    font-size: 16px;
    letter-spacing: -0.015em;
    line-height: 30px;
}

.section4 .section4-content .card .rating {
    grid-template-columns: 20px 100px;
    display: grid;
    align-items: center;
}
.section4 .section4-content .card .rating {
    margin-top: 10px;
}
.section4 .section4-content .card .rating img{
    width: 15px;
}
.section4 .section4-content .card .rating p {
    font-size: 14px;
    color: #E3E0E0;
    letter-spacing: -0.015em;
    font-style: normal;
    
}
/* Section5 end */
/* Section6 */
.section6 {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
}

.section6 .title {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 72px;
    /* or 180% */
    text-align: center;
    letter-spacing: -0.015em;
    color: #FEF4F4;
}

.section6 .title p {
    width: 500px;
    margin: 0 auto;
}

.section6 .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: space-around;
}

.section6 .content .card {
    width: 280px;
    min-height: 400px;
    border-radius: 15px;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 20px;
}


.section6 .content .card .card-content ul {
    list-style: none;
}

.section6 .content .card  .card-title {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    letter-spacing: -0.015em;
    color: #FEF4F4;
}

.section6 .content .card  .card-price {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: #DB202C;  
}

.section6 .content .card  .card-price span {
    font-size: 16px;
    color: white;
    font-weight: 200;
}
.section6 .content .card .card-content ul li {
    display: grid;
    grid-template-columns: 20px 200px;
    align-items: center;
    gap: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
}
.section6 .content .card .card-content ul li .check{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white;
    text-align: center;
    line-height: 20px;
}

.section6 .content .card .card-content ul li .text p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #FEF4F4;
}
.section6 .content .card .card-content ul .li-none {
    display: grid;
    grid-template-columns: 10px 200px;
    grid-template-areas: 'slide1' 'slide2';
    gap: 5px;
}

.section6 .content .card .card-content ul .li-none .none {
    width: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #ABACAF;
}

.section6 .content .card .card-content ul .li-none .none p {
    margin-left: 13%;
}

.section6 .content .card .card-button {
    box-sizing: border-box;
    text-align: center;
    line-height: 48px;
    width: 153px;
    height: 48px;
    border: 1px solid #FEF4F4;
    border-radius: 15px;
    margin: 10px auto;
    color: white;
}

.section6 .content .card .card-button.pick {
    background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
    box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
    border: none;
    font-weight: bold;
}

.section6 .content .card.pick {
    background: linear-gradient(168.02deg, #1F2127 3.06%, #373A43 47.56%, #1F2127 96.94%);
    border: 1px solid #FEF4F4;
}

/* Section6 end */
/* section 7 */
.section7 {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.section7 .container {
    width: 100%;
    height: 240px;
    background: #C8CFEC;
    border-radius: 30px 0px 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section7 .container .content .title {
    margin: 0 auto;
    
    width: 80%;
}
.section7 .container .content .title p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #1A1C22;
}

.section7 .container .content .input {
    display: grid;
    grid-template-columns: 200px 100px;
    justify-content: center;
    margin-top: 10px;
}

.section7 .container .content .input input {
    width: 212.5px;
    height: 34.4px;
    background: #FEF4F4;
    border-radius: 10px;
    margin-left: -20px;
    outline: none;
    border: none;
}

.section7 .container .content .input button {
    width: 128px;
    height: 34.4px;
    border-radius: 10px;
    background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
    box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.section7 .container .circle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #1A1C22;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-right: -1091px;
    z-index: 2;
    border: none;
}

.section7 .container .circle img {
    width: 45px;
}

.footer {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: yellow; */
    font-family: 'Montserrat';
}

.footer .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer .content .brand {
    width: 25%;
}

.footer .content .brand p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #E3E0E0;
}

.footer .content .info {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer .content .info .perusahaan .content,
.bantuan .content,
.lainnya .content {
    display: block;
}
.footer .content .info .perusahaan .judul,
.bantuan .judul,
.lainnya .judul,
.footer .content .sosial .judul {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.footer .content .info .perusahaan .content p,
.bantuan .content p,
.lainnya .content p{
    margin-bottom: 5px;
    font-size: 16px;
    color: #E3E0E0;
}



.footer .content .sosial {
    width: 25%;
}

.footer .content .sosial .content-store {
    justify-content: space-between;
    display: flex;
}

.footer .content .sosial .content-store .app-store, .play-store {
    width: 130px;
    height: 55px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-around;
}

.footer .content .sosial .content-store .app-store .app-store-content p {
    font-size: 11px;
}
.footer .content .sosial .content-store .app-store .app-store-img img,.play-store .app-store-img img {
    width: 30px;
}
.footer .content .sosial .content-store .app-store .app-store-content h4 {
    font-size: 18px;
    font-weight: bold;
}

.footer .content .sosial .content-store .play-store .app-store-content p{
    font-size: 11px;
    font-weight: bold;
}




/* end section 7 */
/* end home */




/* login */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 100vh;
    overflow: hidden;
}

.left-side {
    background-image: url('../img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0, -2rem;
    position: relative;
}
.left-side .transparan {
    background-color: #282938;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
}
.left-side .left-side-container {
    position: absolute;
    height: 310px;
    width: 444px;
    left: 75px;
    top: 75px;
    
}
.left-side .left-side-container h1 {
    color: white;
    z-index: 1;
    font-family: 'Maven Pro', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0.005em;
    text-align: left;

}

.left-side .left-side-container p {
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

/* right side */
.right-side {
    background-color: #1C1E53;
}

.right-side-container {
    height: 542px;
    width: 432px;
    margin: 14% auto;
    font-family: 'Maven Pro', sans-serif;
}

.right-side-container .title {
    color: white;
    margin-bottom: 20px;
    width: 350px;
}

.right-side-container .title h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
.right-side-container .form .form-control input {
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    width: 380px;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 8px;
    background-color: transparent;
    outline: rgba(255, 255, 255, 0.1);
    padding: 15px;
    color: #F4F6FC;
}
.right-side-container .form .form-control input::-webkit-input-placeholder{
	color: #F4F6FC;
    opacity: 0.4;
}

.right-side-container .form .checkbox {
    display: flex;
    margin-left: 5px;
    margin-bottom: 4rem;
}
.right-side-container .form .checkbox input{
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    outline: rgba(255, 255, 255, 0.1);
}

.right-side-container .form .checkbox p {
    margin-left: 5px;
    color: #F4F6FC;
    opacity: 0.4;
}

.right-side-container .form .form-control button {
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    width: 380px;
    height: 50px;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #FCD980;
    outline: rgba(255, 255, 255, 0.1);
    padding: 15px;
    color: #282938;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 20px;
}

.right-side-container .form .form-control p{
    width: 380px;
    text-align: center;
}

.right-side-container .form .form-control p a {
    text-decoration: none;
    font-size: 17px;
    color: #F4F6FC;
}


/* right side end */

/* end login */